# 所有可执行文件
/**/*.exe

#keilIDE编辑器忽略项
/**/MDK-ARM/*

#不忽略keil工程配置文件
!/**/MDK-ARM/*.uvoptx
!/**/MDK-ARM/*.uvprojx
!/**/MDK-ARM/startup_*.s

#VSCode编辑器忽略项
/**/.vscode
/**/workspace.code-workspace

#J-Scope波形数据忽略项
/**/J-Scope_Data/

#VOFA数据忽略
/**/VOFA

#忽略用于备份的zip文件
/**/*.zip